<div class="jumbotron pt-5 d-flex align-items-center" id="home">
  <div class="container">
    <h1 class="display-4">Explore the World with Us!</h1>
    <p class="lead">
      Discover breathtaking destinations, tailor-made adventures, and
      unforgettable experiences. Let us turn your travel dreams into reality.
    </p>
    <a
      routerLink="login"
      class="btn btn-primary btn-lg"
      role="button"
      aria-label="LogIn or create an account"
      >Join us</a
    >
  </div>
</div>
