<section class="py-5 about-us-section" id="about-us">
  <div class="container">
    <div class="row align-items-center gx-4">
      <div class="col-md-5">
        <div class="about-img-container ms-md-2 ms-lg-5">
          <img
            class="img-fluid rounded-3"
            src="../../../assets/images/tom-barrett-M0AWNxnLaMw-unsplash.jpg"
            alt="About Us Image"
          />
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="ms-md-2 ms-lg-5">
          <span class="text-muted">Our Story</span>
          <h2 class="display-5 fw-bold">About Us</h2>
          <p class="lead">
            Founded in 2010, Journease has been dedicated to making travel
            dreams a reality. Over the years, we’ve built a reputation for
            offering personalized journeys, handpicked destinations, and
            unforgettable experiences. From exploring hidden gems to luxurious
            getaways, we’re here to help you discover the world with ease and
            inspiration.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
